APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=havre_estates
DB_USER=root
DB_PASS=

GEOIP_DB_PATH=storage/geo/GeoLite2-City.mmdb

COUNTRIES=MX,CO,CL
DEFAULT_CURRENCY=MXN
DEFAULT_COUNTRY=MX

CACHE_ENABLED=false
CACHE_TTL=3600

RECAPTCHA_ENABLED=false
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
